.contact_01 .title {
	text-align: center;
	text-transform: uppercase;

	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.contact_01 .details-container {
	text-align: justify;
}

.contact_01 .details-container p,
.contact_01 .details-container address {
	margin-bottom: 2em;
}

.contact_01 .details-container .social-container {
	color: #333;
	text-align: center;
}

.contact_01 .details-container .social-container a {
	margin: 0 2em;
}

.contact_01 .form-container {

}

.contact_01 .form-container .form-control {
	margin-bottom: 1.5em;
}