.action_01-title
{
    margin: 25px auto;
}

.action-01-items
{
    margin-top: 25px;
}

.action-01-items > img
{
    width: 120px;
}

.action-01-items > div
{
    height: 45px;
    line-height: 120%;
    margin-top: 10px;
    color: #424242;
}


div#action_01-button-wrapper 
{
    width: 280px;
    margin: 25px auto;
    background: rgba(255, 255, 255, 0.19);
    padding: 5px 10px;
    border-radius: 7px;
}

div#action_01-button-wrapper a
{
    color: #424242;
    text-align: center;
}