.gallery_01
{
    position: relative;
}

.gallery_01-title
{
    padding-top: 10px;
    text-align: center;
}


.gallery_01-title h1
{
    text-transform: uppercase;
    font-weight: normal;
    margin: 0px;
}

.gallery_01-title p
{
    font-size: 16px;
    margin-bottom: 0px;
}


.gallery_01-wrapper {
    max-width: 700px;
    margin: 10px auto;
}
.gallery_01-wrapper ul
{
/*    margin-left: 0px;
    padding-left: 0px;*/
}

.gallery_01-img-content
{
    max-width: 700px;
    text-align: center;
    margin: 35px auto 0;
    position: relative;
}
 

.gallery_01-wrapper-smaller ul
{
    margin-left: 0px;
    padding-left: 0px;
}

.gallery_01-wrapper .bx-wrapper
{
    /*margin-bottom: 45px;*/
    width: 700px;
}

.gallery_01-wrapper-smaller
{
    position: absolute;
    height: 75px;
    width: 100%;
    background: #FFF;
    overflow: hidden;
    bottom: 0px;
}

.gallery_01_thumbnails .bx-wrapper .bx-pager
{
    display: none !important;
}

.gallery_01_thumbnails .bx-wrapper 
{
    margin-bottom: 0px; 
}

.gallery_01_thumbnails .bx-wrapper .bx-viewport
{
    height: 101px !important;
    margin-top: 5px !important;
    -moz-box-shadow: 0 0 0px transparent !important;
    -webkit-box-shadow: 0 0 0px transparent !important;
    box-shadow: 0 0 0px transparent !important;
    border: solid #fff 0px;
}

.gallery_01_thumbnails .bx-wrapper .bx-controls-direction a
{
    margin-top: -32px !important;
}

.gallery_01-wrapper .bx-wrapper li img
{
    width: 700px !important
}

.gallery_01_thumbnails .bx-wrapper a:hover
{
    cursor: pointer;
}

.gall-01-getintouch {
    position: absolute;
    right: -110px;
    top: 5px;
}


#gallery_01_custom-btn 
{
    display: block;
    line-height: 111%;
    font-size: 12px;
    background: #9ee5e8;
    padding: 10px 15px;
    border-radius: 11px;
    color: #000;
}

#gallery_01_custom-btn:hover
{
    text-decoration: none;
}

@media (min-width: 769px) {
    .gallery_01-wrapper .bx-wrapper .bx-next,
    .gallery_01_thumbnails .bx-wrapper .bx-next
    {
        right: -70px;
    }

    .gallery_01-wrapper .bx-wrapper .bx-prev,
    .gallery_01_thumbnails .bx-wrapper .bx-prev
    {
        left: -85px;
    }
}

@media (max-width: 768px) {
    #sliderthumb
    {
        display: none;
    }
    .bx-wrapper .bx-next
    {
        right: 20px !important;
    }

    .gall-01-getintouch
    {
        position: initial; 
        width: 145px;
        display: block;
        margin: 10px auto;
    }

    .contact_03-table, .contact_03-table tbody, .contact_03-table tbody tr, .contact_03-table tbody td, .contact_03-table tbody th
    {
        display: block;
    }
    .gallery_01-wrapper .bx-wrapper
    {
        width: 95%;
        margin: 10px auto;
    }

    .gallery_01-wrapper .bx-wrapper li img
    {
        max-width: 100% !important;
    }
}