table.header_02-table
{
    width: 100%;
    margin-top: 50px;
}

#header_02-btn
{
    display: block;
    height: 100px;
    width: 100px;
    text-align: center;
    padding-top: 3.1%;
    margin: 20px auto 50px;
    color: #010101;
}

#header_02-btn:hover
{ 
    color: #16a085;
    text-decoration: none;
}

.header_02_columns
{
    position: relative;
}

.header_02Content
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;  
}
.header_02_columns:nth-child(2)
{
    margin-top: 35px;
}
.header_02_columns:nth-child(1),
.header_02_columns:nth-child(3)
{
    margin-top: 15%;
}

.header_02_columns:nth-child(2) .header_02Content
{
    padding: 60px;
}


.header_02_columns:nth-child(1) .header_02Content .display_table,
.header_02_columns:nth-child(3) .header_02Content .display_table 
{
    display: table;
    height: 100%;
    width: 100%;
}

.header_02_columns:nth-child(1) .header_02Content .display_table_row,
.header_02_columns:nth-child(3) .header_02Content .display_table_row
{
    display: table-row;
}

.header_02_columns:nth-child(1) .header_02Content .display_table > div,
.header_02_columns:nth-child(3) .header_02Content .display_table > div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.header_02Content
{
    font-size: 20px;
    line-height: 150%;
}

.header_02Content h2
{
    font-weight: bold;
}

.header_02_columns:nth-child(2) .header_02Content
{
    font-size: 19px;
}



.header_02Content
{ 
    /*font-weight: 600;*/
    color: transparent;
}


/* .header_02.active .header_02Content
{
    -webkit-animation: weArefontColor 2s linear 1;
    animation: weArefontColor 2s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; 
}

@-webkit-keyframes weArefontColor{
    from {color: rgba(0, 0, 0, 0);  }
    to { color: #313033 }
}

@keyframes weArefontColor{
    from {color: rgba(0, 0, 0, 0);  }
    to { color: #313033 }
}  */

@media (max-width: 1050px) {

    .header_02_columns:nth-child(2) .header_02Content {
        font-size: 15px;
    }     
}

@media (max-width: 910px) {
    .header_02_columns:nth-child(2) .header_02Content {
        font-size: 13px;
        padding: 28px;
    } 

    .header_02_columns:nth-child(2) .header_02Content h2{
        font-size: 17px;
    } 

    .header_02_columns:nth-child(1) .header_02Content .display_table > div, .header_02_columns:nth-child(3) .header_02Content .display_table > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .header_02_columns
    {
        width: 250px;
        margin: 10px auto;
    }

    .header_02_columns:nth-child(2) 
    {
        max-width: 520px;
        width: 100%;
    }

    .header_02_columns:nth-child(2) .header_02Content {
        font-size: 19px;
        padding: 60px 10px
    } 

    .header_02_columns:nth-child(2) .header_02Content h2{
        font-size: 17px;
    } 
}

@media (max-width: 452px) {
     .header_02_columns:nth-child(2) .header_02Content {
        font-size: 15px;
        padding: 28px;
    } 
    .header_02_columns:nth-child(2) .header_02Content h2{
        font-size: 17px;
    } 
}

@media (max-width: 420px) {
    .header_02_columns:nth-child(2) .header_02Content {
        font-size: 12px;
        padding: 28px 15px;
    } 

    .header_02_columns:nth-child(2) .header_02Content h2{
        font-size: 14px;
        margin: 6px;
    } 

    .header_02_columns:nth-child(1) .header_02Content .display_table > div, .header_02_columns:nth-child(3) .header_02Content .display_table > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }
}