.portfolio_01 .title {
	text-align: center;
	text-transform: uppercase;

	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.portfolio_01 .details-container {
	text-align: center;

	padding-bottom: 2em;
}
.portfolio_01 .action-container {
  text-align: center;

  padding-top: 2em;
}
.portfolio_01 .filter-container {
	text-align: center;
}
.portfolio_01 .filter-menu {
  margin: 40px 0 0;
  padding: 0;
}
.portfolio_01 .filter-menu li {
  display: inline-block;
  list-style: none;
  margin: 12px 3px;
}
.portfolio_01 .filter-menu li a {
  border-radius: 6px;
  border: 1px solid #aeaeae;
  color: #777;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s;
}
.portfolio_01 .filter-menu li a:active,
.portfolio_01 .filter-menu li a:focus,
.portfolio_01 .filter-menu li a:hover {
  background: #f1f1f1;
}
.portfolio_01 .filter-menu li a.active {
  background: #777;
  color: #fff;
}
.portfolio_01 .list-items {
  list-style: none;
  padding: 0px;
  margin: 4em 0 2em;
  min-width: 100%;
  width: 100%;
  display: block;
}
.portfolio_01 .list-items li {
  display: inline-block;
  margin: 0px;
  margin: 0px;
  padding: 10px;
  list-style: none;
  min-height: 340px;
}
.portfolio_01 .list-items li.mix {
  opacity: 0;
  display: none;
}
.portfolio_01 .list-items .item > a:hover img {
  opacity: 0.05;
}
.portfolio_01 .list-items .item > a:hover i.fa {
  opacity: 1;
}
.portfolio_01 .list-items .item a,
.portfolio_01 .list-items .item a:hover {
  text-decoration: none;
}
.portfolio_01 .list-items .item > a,
.portfolio_01 .list-items .item > a img {
  border: none;
  outline: none;
  display: block;
  position: relative;
  transition: opacity 0.3s ease;
}
.portfolio_01 .list-items .item > a img {
  border: 1px solid #cecece;
}
.portfolio_01 .list-items .item .item_info {
  text-align: center;
}
.portfolio_01 .list-items .item .item_underlay {
  background-color: #444;
  color: #ecf0f1;
}
.portfolio_01 .list-items .item .item_underlay i.fa {
  position: absolute;
  top: 2em;
  left: 43%;
  margin: 0 auto;
  color: #fff;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  opacity: 0;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}